<section class="main">
  <div class="container">
    <div class="row  topElement-sec">
      <div class="col-md-12 col-sm-12 mx-auto col-12  main__col"  >
        <div class="d-flex justify-content-center align-items-center flex-wrap main__text flex-column">
          <p class="clientHead  clientHead-top"> Ship What You Want </p>
           <p  class = "clientHead  clientHead-bottom"> Where You Want !!</p>  
          
          <div class="btns">
            <button type="button" class="Cbtn c_button  c_button__signup" routerLink="/signup"> Start Now →</button>
          <!--  <button type="button" class="Cbtn c_button  c_button__signin" routerLink="/signin">Sign in</button>
            -->
            
          </div>
         
        </div>
      </div>
     <!-- <div class="col-md-6 col-sm-8 mx-auto col-12">
        <div>
          <img src="assets/img/main1.jpg" alt="header" class="main__img">
        </div>
      </div>
      -->
    </div>
  </div>
</section>

<section class="main user2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 mx-auto col-12">
        <div>
          <img src="assets/img/main2.jpg" alt="header" class="main__img">
        </div>
      </div>
      <div class="col-md-6 col-sm-8 mx-auto col-12">
        <div class=" main__text  captinHead ">
          <p class="captinHead-p">Become partener with us anytime you can deliver and earn money 
          </p>
          <div [ngStyle]="{width: '100%'}" class="d-flex justify-content-center align-items-center ">
            <button type="button" class="Cbtn c_button  c_button__join ">Join Us</button>
          </div>    
        </div>
      </div>
    </div>
  </div>
</section>