<div class="container">
<div class="captinProfilesec_heading">
  <span class="captinProfilesec_heading__icone">
    <img src="assets/img/client/captinProfile/headingPhoto.png" alt="Box icone" class="captinProfilesec_heading__icone-img">
  </span>
  <h2 class="captinProfilesec_heading__text"> Captin Profile</h2>

</div>
<!-- Profile Middle section-->
<div class="middleSec">
  <div class="captinProfileInfo">
      <div class="captinProfileInfo__imgDiv">
        <img src="assets/img/client/captinProfile/esam.jpg" 
        alt="captin profile photo" class="captinProfileInfo__imgDiv--img">

      </div>
      <div class="captinProfileInfo__text">
        <h2 class="captinProfileInfo__text--name">
         Essam Mosbah
        </h2>
        <h3 class="captinProfileInfo__text--location"> Mansoura </h3>
        <h4 class="captinProfileInfo__text--rate">
          <span class="captinProfileInfo__text--rate"> 7.5 </span>
              <svg class="captinProfileInfo__text--rateSar">
                  <use xlink:href="assets/img/svg/allSvg.svg#icon-star-full
                  "></use>
              </svg>
          
         
          </h4>
        

      </div>
  </div>
  <div class="captinProfileOptions">
    
      <label for="id-of-input" class="custom-checkbox" title="favorit">
          <input type="checkbox" id="id-of-input"/>

      <svg class="captinProfileOptions__favorite captinProfileOptions__favorite-empty "  title="favorit">
          <use xlink:href="assets/img/svg/allSvg.svg#icon-star-empty
          " title="favorit"> </use>
      </svg>
      <svg class="captinProfileOptions__favorite captinProfileOptions__favorite-full" title="favorit">
          <use xlink:href="assets/img/svg/allSvg.svg#icon-star-full
          " title="favorit"></use>
      </svg>
      </label>
      <div class="captinProfileOptions__contact">
          <div class="captinProfileOptions__contact--SendMessege">
          <a href="#"> 
              <svg >
                  <use xlink:href="assets/img/svg/allSvg.svg#icon-message1
                  "></use>
              </svg>
          </a>
            </div>
            <div class="captinProfileOptions__contact--report">
                <a href="#" class="captinProfileOptions__contact--report-link"><img src="assets/img/client/captinProfile/report.png" alt="clicl to report the captin "> </a>
              </div>
        </div>

  </div>
</div>
<div class="captinProfileDetailes">
    <div class="d-flex">
<div class="captinProfileDetailes__deliveries">
<span class="captinProfileDetailes__deliveries-count">20 </span>
<p class="captinProfileDetailes__deliveries-p">Deliveries</p>
</div>




<div class="captinProfileDetailes__rate">
    <div class="rating rating2 d-flex">
        <a href="" title="Give 5 stars">★</a>
        <a href="" title="Give 4 stars">★</a>
        <a href="" title="Give 3 stars">★</a>
        <a href="" title="Give 2 stars">★</a>
        <a href="" title="Give 1 star">★</a>
        </div>
        <p class="ccaptinProfileDetailes__rate-p">Rate captin</p>
</div>
</div>
<div class="captinProfileDetailes__vehicles " >
  <p>Vechiles : </p>
  <ul class="">
    <li class="captinProfileDetailes__vehicles-li"> <img src="assets/img/client/captinProfile/vehicle1.png" alt="Vechile 1 "></li>
    <li class="captinProfileDetailes__vehicles-li" ><img src="assets/img/client/captinProfile/vehicle2.png" alt="Vechile 12"></li>
  </ul>
</div>

</div>
</div>