@import url('https://fonts.googleapis.com/css?family=Poppins:100,400');
@import './variable.scss';



body{
    font-family: 'Poppins', sans-serif; 
    font-weight: 400 ; 
    line-height: 1.7 ;
    
    
} 
a{
    display: block ; 
    text-decoration: none ;
    
}

