$primary-color : #ff0044 ;


$color-white: #ffffff;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-gery-dark: #777 ;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$client-primary-color: #e01c55 ; 


 
