$primary-color : #ff0044 ;


$color-white: #ffffff;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-gery-dark: #777 ;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$client-primary-color: #e01c55 ;

$client-primary-color-1: #e01c55 ;
$client-green-color:#1B7F79 ; 
$client-grey-color:#747F7F ;

/* Color Theme Swatches in Hex */
$Nautical-Wedding-1-hex: #435964;
$Nautical-Wedding-2-hex: #51768C;
$Nautical-Wedding-3-hex: #95A8A2;
$Nautical-Wedding-4-hex: #EE7560;
$Nautical-Wedding-5-hex: #FFFFFF;








 
