@import "../.../../../../../sass/variable";
@import "../.../../../../../sass/mixins";

/*
        @include respond(phone){
          width: 20rem;
        }
        */
.SearchNotFound {
  h2 {
    text-align: center;
    color: #c2185b;
  }
}
