<div class="container backdrop">
<div class="secHeading">
  <span class="secHeading__icone">
    <img src="assets/img/client/Profile/profileHeading.png" alt="Box icone" class="secHeading__icone-img">
  </span>
  <h2 class="secHeading__text"> Profile </h2>
  </div>

  <div class="fullProfile">
    <label for="uploadPhoto">
    <div class="fullProfile__img imageHover-img">
      <img src="{{user.image}}" alt="Profile Picture">
      <div class="imageHover-text"> Upload Photo </div>
      <div class="imageHover-background"></div>
      
      

    </div>
  </label>
  <input type="file" id="uploadPhoto" (change)="onSelectFile($event)" accept="image/*" >
    <div class="fullProfile__info">
      <div class="fullProfile__info-name">
        <h2> {{user?.firstName}} {{user?.lastName}} </h2>
      </div>
      <!--<div class="fullProfile__info-address">
        <svg class="">
          <use xlink:href="assets/img/svg/allSvg.svg#icon-home
          "></use> 
      </svg>
        <h3> Mansoura , Aga </h3>
      </div> -->
      <div class="fullProfile__info-phoneNumber">
        <svg class="">
          <use xlink:href="assets/img/svg/allSvg.svg#icon-mobile
          "></use>
      </svg>
        <h3>  {{user?.phone_number}} </h3>
      </div>
      <div class="fullProfile__info-email">
        <svg class="">
          <use xlink:href="assets/img/svg/allSvg.svg#icon-message1
          "></use>
      </svg>
        <h3> {{user?.email}}</h3>
      </div>
    </div>
  
  </div>
<div class="ProfileSecSection">
  <div class="addAddress">
      <button class="editAddressButton  addAddress-btn " (click)="addAddress()">
          <svg class="">
              <use xlink:href="assets/img/svg/allSvg.svg#icon-new-message
              "></use> 
          </svg>  
        Add Address  
       </button>
  </div>
  <div class="extraInfo" *ngFor = "let addr of address let i = index"  >   
     <h3 class="extraInfo__address" >
        <svg class="">
            <use xlink:href="assets/img/svg/allSvg.svg#icon-location
            "></use> 
        </svg>  
        Adddress {{ i + 1 }}  
     </h3>
     <p class="d-flex flex-column" >
       <span>
      {{addr?.address.formated_address}}  
       </span>
      <span >
          {{addr?.address.address_description}} 
      </span>
     </p>
     
<div class="option-btn">


     <button class="editAddressButton" (click)="editHomeAddress(addr.address.id)">
        <svg class="">
            <use xlink:href="assets/img/svg/allSvg.svg#icon-edit-pencil
            "></use> 
        </svg>  
      Edit  
     </button>
     <button class="editAddressButton delete-btn" (click)="deleteAddress(addr.address.id)" color="red" >
          <svg class="">
            <use xlink:href="assets/img/svg/allSvg.svg#icon-edit-pencil
            "></use> 
        </svg>  
        delete  
     </button>
    </div>


  </div>
  
 

</div>
<div class="editProfile">
  <a [routerLink]= "['editProfile']">
  <button type="button" class="Cbtn c_button  c_button__join editProfile-btn "> Edit Profile </button>
</a>
</div>

<div class="GetAddressFromMap" *ngIf="openMap">
  <app-map>
  </app-map>

  <div class="filedInput  d-flex " >
      <span class = " restaddress"> Rest Of the   Address </span>
      <form  (ngSubmit)="updateAddress(m)" #m="ngForm"  >
      <div class="form__group ">
      <input type="text" class=" form__input fullAddress " 
      name="restaddress" id="restaddress"  placeholder="District , street , floor Number" required ngModel>
      <label   for="restaddress" class="form__lable " > dst, st</label> 
    </div>
    <button type="submit"  class="Cbtn c_button updateBtn  " > Update  </button>
</form>
  </div>
</div>
</div>




