<div class="container">
<div class="secHeading">
  <span class="secHeading__icone">
    <img src="assets/img/client/Profile/profileHeading.png" alt="Box icone" class="secHeading__icone-img">
  </span>
  <h2 class="secHeading__text"> Profile </h2>
  </div>

  <div class="fullProfile">
    <div class="fullProfile__img">
      <img src="assets/img/client/Profile/kenawy.jpg" alt="Profile Picture">
    <!-- <span class="fullProfile__img-edit">
        <svg class="">
          <use xlink:href="assets/img/svg/allSvg.svg#icon-edit-pencil
          "></use>
      </svg>
      </span>-->
    </div>
    <div class="fullProfile__info">
      <div class="fullProfile__info-name">
        <h2> Ahmed Elkenawy </h2>
      </div>
      <!--<div class="fullProfile__info-address">
        <svg class="">
          <use xlink:href="assets/img/svg/allSvg.svg#icon-home
          "></use> 
      </svg>
        <h3> Mansoura , Aga </h3>
      </div> -->
      <div class="fullProfile__info-phoneNumber">
        <svg class="">
          <use xlink:href="assets/img/svg/allSvg.svg#icon-mobile
          "></use>
      </svg>
        <h3> 01097886284 </h3>
      </div>
      <div class="fullProfile__info-email">
        <svg class="">
          <use xlink:href="assets/img/svg/allSvg.svg#icon-message1
          "></use>
      </svg>
        <h3> ahmed.elkenawy95@gmail.com </h3>
      </div>
    </div>
  <div class="editProfile">
    <button type="button" class="Cbtn c_button  c_button__join editProfile-btn ">Edit Profile </button>
  </div>
  </div>
<div class="ProfileSecSection">
  <div class="extraInfo">   
     <h3 class="extraInfo__address" >
        <svg class="">
            <use xlink:href="assets/img/svg/allSvg.svg#icon-home
            "></use> 
        </svg>  
      Home  
     </h3>
     <p>
       Mnsoura , Aga , 18st ,  floor 3 
     </p>


    <!--<div class="extraInfo__deliveries">
      <p class="extraInfo__deliveries--count">
        5
      </p>
      <h3 class="deliveries">

        deliveries
      </h3>
    </div>
    <div class="extraInfo__friends">
      <p class="extraInfo__deliveries--count">
        5
      </p>
      <h3 class="deliveries">

        deliveries
      </h3>
    </div>-->
  </div>
  <div class="extraInfo">   
      <h3 class="extraInfo__address" >
         <svg class="">
             <use xlink:href="assets/img/svg/allSvg.svg#icon-location
             "></use> 
         </svg>  
       Work  
      </h3>
      <p>
        cairo , NacerCity , 18st ,  floor 3 
      </p>

   </div>

</div>
<div class="editProfile">
  
</div>
</div>