@import '../../../sass/component/secHeading' ;
@import '../../../sass/variable' ;
a{
    text-decoration: none ;
    
}

.fullProfile{
    display: flex ;
    flex-direction: row ; 
    align-items: center ; 
    margin: 5rem;
    border-bottom: 1px solid #000000;
    
    
    
    
    &__img{
        margin-bottom: 2rem ;
        position: relative;
        img{
            width: 20rem ; 
            height: 20rem;
            border-radius: 50%;
        }
      
    }

   //// upload photo 
   #uploadPhoto{
    display: none ;
}

.imageHover {
    &-text{
        display: none;
        color: #ffffff ;
        font-size: 1.4rem ; 

        position: absolute ;
        top: 50% ; 
        left: 50%;
        transform: translate(-50% , -50%) ; 
        z-index: 2; 
        

    }
    &-background{
        position: absolute;
        display: none;
        top: 0;
        left:  0;
        bottom: 0;
        right: 0;
        background-color:rgba(2, 2, 2, 0.5);
        pointer-events: none;
        border-radius: 50%;
        z-index: 1;
        
    }
    
    

}
.imageHover-img img:hover{
    filter: blur(2px);
  -webkit-filter: blur(2px) ; 
  transition: all .1s
}
.imageHover-img:hover .imageHover-background{
    display: block ; 
    transition:  all .3s;

}
.imageHover-img:hover .imageHover-text{
    display: block ; 
    transition: all .1s;
    
}
////////////
    &__info{
        display: flex ;
    flex-direction: column ; 
    justify-content: center ;
    align-items: center ;
    margin-left: 3rem ; 
       &-name{
        margin-bottom: 1rem ;
        h2{
            font-size: 2.5rem ;
            font-weight: 600 ;
        }
       } 
       &-address{
        margin-bottom: 1rem ;
           display: flex ;

        svg{
            width: 2rem ; 
            height: 2rem;
            margin-right: .5rem;
            fill: $client-primary-color
        }
        h3{
            font-size: 2rem ;
        }
    } 
    &-phoneNumber{
        
        display: flex ;
        svg{
            width: 2rem ; 
            height: 2rem;
            margin-right: .5rem ;
            fill: $client-primary-color-1

        }
        h3{
            font-size: 2rem ;
        }
    }
    &-email{
        
        display: flex ;
        svg{
            width: 2rem ; 
            height: 2rem;
            margin-right: .5rem ;
            fill: $client-primary-color-1
        }
        h3{
            font-size: 1.7rem ;
        }
    }  
    }



    


}

.ProfileSecSection{
    display: flex;
}

.extraInfo{
    width: 50% ;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ; 
    align-items: center ;
    
    &__address{
        font-size: 2.5rem;
        margin-left: 1rem ;
        font-weight: 600 ;
        svg{
            width: 2.5rem ; 
            height: 2.5rem;
            fill: $client-primary-color-1;
            top:-.2rem;
        }
        
    }
   
     p {
         font-size: 2rem ;
         margin-left: 2rem ;
         color: $color-grey-dark-3 ; 
     }
}


.editProfile{
    margin-left: 7rem;
    align-self: flex-start;
    margin-top: 2rem;
    &-btn{
       background-color: #1B7F79 ;
       padding: 1rem .5rem;
       color: #ffffff ; 
    }
}


#uploadPhoto{
    display: none ;
}

.imageHover {
    &-text{
        display: none;

    }
    &-background{
        display: none ; 
    }
}