<div class="container">
  <div class="secHeading">

    <span class="secHeading__icone">
      <img src="assets/img/client/package/box.png" alt="Box icone" class="secHeading__icone-img">
    </span>
    <h2 class="secHeading__text"> New package</h2>
    </div>
    <app-map></app-map>
    
<form  (ngSubmit)="postOrder(m)" #m="ngForm"  >
    <div class="newPackageForm">
      <div class="depSection bottomBorder">
        <h2> Shipped From </h2>
        <div class="selectInput">
        <label    class=" select-lable ">   Governorate </label>
        <select class="select select__governate" name="from_governate"  (change)="onChange($event)" ngModel >
          <option  *ngFor = "let gov of governate "> {{gov}}  </option>
            
         </select>
        </div>
        <div class="selectInput">
         <label    class=" select-lable ">   City </label>
        <select class="   select select__city" name="from_city" ngModel >
          <option *ngFor = "let city of cities "> {{city}} </option>
          
         </select>
        </div>
        <div class="filedInput ">
          <span> Address </span>
         <div class="form__group ">
          <input type="text" class=" form__input fullAddress " 
          name="from_address" id="sourceAddress"  placeholder="District , street , floor Number" required ngModel>
          <label   for="sourceAddress" class="form__lable " > dst, st</label> 
        </div>
      </div>
      </div>

      <div class="depSection bottomBorder">
          <h2> Shipped TO </h2>
          <div class="filedInput ">
              <span> Reciever Name </span>
             <div class="form__group ">
              <input type="text" class=" form__input  " 
              name="receiver_name" id="reciver Name"  placeholder="Reciver full Name" required ngModel>
              <label   for="reciver Name" class="form__lable " > Reciver full Name</label> 
            </div>
          </div>
          <div class="filedInput ">
              <span> Phone Number </span>
             <div class="form__group ">
              <input type="text" class=" form__input  " 
              name="receiver_phone_number" id="reciverPhoneNumber"  placeholder="Mobile or Home " required ngModel>
              <label   for="reciverPhoneNumber" class="form__lable " > Mobile or Home</label> 
            </div>
          </div>
          <div class="selectInput">
          <label    class=" select-lable ">   Governorate </label>
          <select class="   select select__governate" name="to_governate" (change)="onChangeTo($event)" ngModel >
            <option  *ngFor = "let gov of governate "> {{gov}}  </option>
           </select>
          </div>
          <div class="selectInput">
           <label    class=" select-lable ">   City </label>
          <select class="   select select__city" name="to_city" ngModel >
            <option *ngFor = "let city of citiesTo "> {{city}} </option>
           </select>
          </div>
          <div class="filedInput ">
            <span> Address </span>
           <div class="form__group ">
            <input type="text" class=" form__input fullAddress " 
            name="to_address" id="sourceAddress"  placeholder="District , street , floor Number" required ngModel>
            <label   for="sourceAddress" class="form__lable " > dst, st</label> 
          </div>
        </div>
        </div>
        <div class="depSection">
            <h2> Extra Information </h2>
            <div class="filedInput filedInput-nolable  ">
                <span> Duration </span>
               <div class="form__group ">
                <input type="text" class=" form__input form__input-sm  " 
                name="duration" id="duration"  placeholder="recive package on " required ngModel>
               
              </div>
              <span class="form__unit"> Days </span>
            </div>

            <div class="filedInput filedInput-nolable ">
                <span> weight </span>
               <div class="form__group ">
                <input type="text" class=" form__input  form__input-sm  " 
                name="weight" id="packageWeight"  placeholder="Approximate  weight " required ngModel>
              
              </div>
              <span class="form__unit" > Kg </span>
            </div>

            <div class="filedInput filedInput-nolable ">
                <span > Cost Estimation </span>
               <div class="form__group ">
                <input type="text" class=" form__input  form__input-sm " 
                name="cost_estimation" id="costEstimation"  placeholder="Put your offer" required ngModel>
              
              </div>
              <span class="form__unit"> LE </span>
            </div>

            <div class="selectInput transportation">
                <label for="transportation"   class=" select-lable "> Transportation   </label>
               <select  id="transportation"  class="select  " name="transportation" ngModel >
                 <option>  Any </option>
                   <option>Bike </option>
                    <option>car  </option>
                    <option>Motorcycle  </option>

                </select>
               </div>

               <div class="shippedby">

               </div>

               
               <div class="filedInput">
                  <h3>
                    Note 
                  </h3>
                    <div class="form__group">
                        <textarea rows="2" cols="40" class=" form__input" ngModel name="note">
                         
                            </textarea>
                    </div>
                  </div>
                    <div class="filedInput d-flex flex-column shipprdOptions ">
                        <span > Shipped by  </span>
                    <div class="form__group  radioFormGroup ">
                        <div class="form__radio-group">
                         <input type="radio" class="form__radio-input" id="small" name="size">
                         
                         <label for="small" class="form__radio-label  radioFormGroup-lable"> 
                                <span class="form__radio-button"></span> 
                                 <img src="assets/img/client/newPackage/shipBywasally.png" 
                                 alt=" shipped by wasally "  class="shippedByWasally">  
                                
                          
                          </label> 
                        </div>
                        <div class="form__radio-group  form__radio-group-2  ">
                                <input type="radio" class="form__radio-input" id="large" name="size" disabled>
                                
                                <label for="large" class="form__radio-label">
                                    <span class="form__radio-button"></span>
                                Other captin
                                 <span class="commingSoon"> (  Soon) </span>   
                               </label> 
                               </div>

                    </div>

                  </div>
                  

        </div>


     
         
             
               
                 

                            
     </div>
     <div class="postButton">

     
     <button type="submit" class="Cbtn c_button  c_button__join postButton ">Post Order</button>
    </div>
  </form>
  

  
    </div>
    



