<div class="track">
  <div class="track__heading">
    <div class="track__head">
        <h2 class="track__head--h2">Package Number : </h2> 
        <span class="track__head--value ">
          <a href="#" class="track__head--link"  > 12255</a>
        </span>
    </div>


   <div class="track__head"> 
      <h2 class="track__head--h2 ">current state : </h2> 
    <span class="track__head--value">
      <a href="#" class="track__head--link"  > waiting</a>
    </span>
   </div>
   

  </div>
<div class="track__Progress">
  <div class="track__Progress--figure"> 
<div class="track__Progress--figure-state">
  <img src="assets/img/client/track/deliverd.png" alt="state Package">
  <h3> Deliverd</h3>
</div>
<div class="track__Progress--figure-state">
    <img src="assets/img/client/track/shipping.png" alt="state Package">
    <h3> shipping</h3>
  </div>
  <div class="track__Progress--figure-state">
      <img src="assets/img/client/track/done.png" alt="state Package">
      <h3> shipped</h3>
    </div>
  </div>
<div class="track__Progress--state">
  <div class="track__Progress--state-1">
    <div [ngClass]="styleTrackbar('pending')"></div>
    <div [ngClass]="styleTrackmark('pending')">
      <svg >
        <use xlink:href="assets/img/svg/allSvg.svg#icon-checkmark
        "></use>
    </svg>
    </div>

    <div [ngClass]="styleTrackbar('shipped')"></div>
    <div [ngClass]="styleTrackmark('shipped')">
      <svg >
        <use xlink:href="assets/img/svg/allSvg.svg#icon-checkmark
        "></use>
    </svg>
    </div>
    <div [ngClass]="styleTrackbar('done')"></div>
    <div [ngClass]="styleTrackmark('done')">
      <svg >
        <use xlink:href="assets/img/svg/allSvg.svg#icon-checkmark
        "></use>
    </svg>
    </div>
  </div>

  
</div>

  </div>
  <div class="track__sammary"></div>
</div>