@import '../../../sass/variable' ;
nav.navbar {
    background-color:#0D0D0D !important; 
    font-size: 2rem;
}

.navbar-brand{
    font-size: 2rem;
}

.nav-signin{
    background-color: #013D96 ; 
    &:hover{
        color: rgb(236, 231, 232) !important; 
    }

}

.nav-link-c{
  &:hover{
    color: #FF0044 !important; 
}
}
.LandingHeader__logo-white{
    height:4rem; 
}


.activeNav{
   color: $client-primary-color !important; 
}