<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <span class="navbar-brand">
      <img src="assets/img/logo/whiteLogo.png" alt="wasally white logo " class="LandingHeader__logo-white">
    </span>
    <button class="navbar-toggler" type="button" (click)="toggleCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="classes">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item  active">
          <a class="nav-link nav-link-c" href="#">
            Home
          </a>
        </li>
        <li class="nav-item  active">
          <a class="nav-link nav-link-c" href="#">
            About
          </a>
        </li>
        <li class="nav-item  active">
          <a class="nav-link nav-link-c" href="#">
            Services
          </a>
        </li>
        <li class="nav-item  active nav-signin">
          <a class="nav-link nav-link-c sign in " routerLink="/signin">
             Sign In 
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>