@import '../../../sass/mixins' ; 
@import '../../../sass/component/secHeading';

ul {
    list-style-type: none;
}

.packages{
 list-style-type: none;
 margin-top: 5rem;
 //width: 70%;
 //border-bottom: 1px solid #171C1F;
 -webkit-box-shadow: -4px 7px 5px -1px rgba(204,196,204,1);
 -moz-box-shadow: -4px 7px 5px -1px rgba(204,196,204,1);
 box-shadow: -4px 7px 5px -1px rgba(204,196,204,1);
 padding: 0 ;
padding-bottom: 2rem;
}

 .package{
     padding: 0 ;
     cursor: pointer;
  
     

    &____details{
        width:100% ;
    }
    &__detail{
        width: 50% ; 
        display: inline-block ;
        @include respond(phone){
                width: 100%;
        }
        

        
         
        &--h{
            font-size: 2.2rem ;
            font-weight: 400  ;
            //display: flex ;  
            //justify-content: center ;
            color: #2B2D42 ; 
            margin : .8rem  1.5rem ;
            display: inline-block ; 

            
;        }
        &--v{ 
            display: inline-block;
            font-size : 1.6rem ;
           // display: flex ;  
            //justify-content: center ;
            margin-bottom: .8rem ; 
            color: #CC2D6F ;
            display: inline-block
           
        }
    }
 }
 .captin-photo-sm{
     width : 2.2rem ;
     height: 2.2rem;
     border-radius: 50%;
     margin: 0 .8rem ;

 }

 .mainBoxs{
    height: 100vh;
    overflow: auto;
}

a{
    text-decoration: none ;
}

.secHeading__icone{
    width: 4rem;
}
.locationSvgPK{
    fill : #1B7F79 ; 
    width: 2rem ; 
    height: 2rem ; ;
}