<div class="container mainBox">
    <div class="secHeading">
    <span class="secHeading__icone">
      <img src="assets/img/client/package/boxColoredBlue.png" alt="Box icone" class="secHeading__icone-img">
    </span>
    <h2 class="secHeading__text"> My packages</h2>
    </div>
  <ul   class="packages  d-flex flex-column" 
  *ngFor =  "let package of packages">
    <li class="package" [routerLink]="[id]">
     
      <ul class="package__details "  (click) = "openPackage(package)"> 
        <li class="package__detail  "  >
          <h3 class="package__detail--h">Package Number</h3>
          <span class="package__detail--v"> {{package.packageNumber}}</span >
        </li>
        <li class="package__detail  "  >
            <h3 class="package__detail--h">Location</h3>
            <span class="package__detail--v">
                <svg class="locationSvgPK">
                    <use xlink:href="assets/img/svg/allSvg.svg#icon-location1"></use>
                </svg>
              
              {{package.destinationAddress}}</span >
          </li>
          <!--<li class="package__detail  "  >
              <h3 class="package__detail--h">Caption</h3>
              <span class="package__detail--v"> 
                <img src="" alt="captin photo" class="captin-photo-sm">
                {{package.captin.name }}
              </span >
            </li>
            -->
            <li class="package__detail  "  >
                <h3 class="package__detail--h">State</h3>
                <span class="package__detail--v"> {{package.packageState}}</span >
              </li>
              
      </ul>
    
    </li>
  </ul>
</div>
