<section [ngStyle]="{marginTop: '40px'}">
  <div class="container steps">
    <div class="row">
      <div class="col-md-3">
        <div>
          <img class="rounded-circle steps__img" src="assets/img/step1.jpg" alt="services-0">
          <p>Fill pakage <br>information set cost </p>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <img class="rounded-circle  steps__img" src="assets/img/step2.png" alt="services-1">
          <p>Select  <br>Appropriate  offers</p>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <img class="rounded-circle  steps__img" src="assets/img/step3.jpg" alt="services-2">
          <p>Track <br>package</p>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <img class="rounded-circle  steps__img" src="assets/img/step4.jpg" alt="services-3">
          <p>Recive package  <br>in time</p>
        </div>
      </div>
    </div>
  </div>
</section>