
  <div class="UpdateHeader">
    <svg class="UpdateHeader__svg">
    <use xlink:href="assets/img/svg/allSvg.svg#icon-newspaper"></use>
    </svg>
    <h4 class="UpdateHeader__text"> 
        Updates
    </h4>
  </div>

  <div class="updateCards">
      <ul class="updateCards__lists">
          <li class="updateCards__list">
              <a href="#" >
                    <svg class="">
                            <use xlink:href="assets/img/svg/allSvg.svg#icon-broadcast"></use>
                            </svg>
                  <p class="UpdaeCards__list--text">
                      Package 8286 deliverd to Ahmed 
                  </p>
              </a>
          </li>
          <li class="updateCards__list">
            <a href="#">
                    <svg class="">
                            <use xlink:href="assets/img/svg/allSvg.svg#icon-broadcast"></use>
                            </svg>
                <p class="UpdaeCards__list--text">
                  your Package 59877 Captin will take it  at 10 Am 
                </p>
            </a>
        </li>
        <li class="updateCards__list">
            <a href="#">
                    <svg class="">
                            <use xlink:href="assets/img/svg/allSvg.svg#icon-broadcast"></use>
                            </svg>
                <p class="UpdaeCards__list--text">
                  your Package 59877 Captin will take it  at 10 Am 
                </p>
            </a>
        </li>
        <li class="updateCards__list">
                <a href="#" >
                      <svg class="">
                              <use xlink:href="assets/img/svg/allSvg.svg#icon-broadcast"></use>
                              </svg>
                    <p class="UpdaeCards__list--text">
                        Package 8286 deliverd to Ahmed 
                    </p>
                </a>
            </li>
            <li class="updateCards__list">
              <a href="#">
                      <svg class="">
                              <use xlink:href="assets/img/svg/allSvg.svg#icon-broadcast"></use>
                              </svg>
                  <p class="UpdaeCards__list--text">
                    your Package 59877 Captin will take it  at 10 Am 
                  </p>
              </a>
          </li>
          <li class="updateCards__list">
              <a href="#">
                      <svg class="">
                              <use xlink:href="assets/img/svg/allSvg.svg#icon-broadcast"></use>
                              </svg>
                  <p class="UpdaeCards__list--text">
                    your Package 59877 Captin will take it  at 10 Am 
                  </p>
              </a>
          </li>
           
         
      </ul>
  </div>
