<app-landing-navbar></app-landing-navbar>



  



    <!-- Page Content -->
    <div class="container-fluid ">

      <!-- Introduction Row -->
      <div class="aboutinro ">
        <h1 class="my-4">About Us
        </h1>
        <p>It's Nice to Meet You!</p>
  
      </div>
      </div>
    
      <!-- Team Members Row -->
      <div class="container">
        <div class="aboutIdea">
          <h2>Idea</h2>
          <p>
            Wassally is a shared Economy based app for shipping, <br>
            Graduation Project from 
            Computer Science and Embedded Systems Department<br> Mansoura university   
          </p>
        </div>

        <div class="supervised">
            <h2>Supervised by </h2>
            <div class="supervised-info">
                <img class="rounded-circle img-fluid d-block mx-auto" src=" assets/img/team/MohamedSabry.jpg" alt="teamPhoto">
                <h3>DR  Mohamed Sabry Saraya </h3>
                <p class="teamCard__jobTitle">
                    Lecturer at Mansoura University
                  </p> 
            </div>
            
              
            
        </div>
        <div class="aboutTeam">
            <h2>Our Team</h2>
        </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 text-center mb-4 teamCard">
          <img class="rounded-circle img-fluid d-block mx-auto" src=" assets/img/team/Ashraf.jpg" alt="teamPhoto">
          <h3>Mohamed Ashraf  
            
          </h3>
          <p class="teamCard__jobTitle">
            Backend Developer
          </p> 
          <p class="teamCard__social" >
            <a href="https://www.facebook.com/M7mdAshrf01?epa=SEARCH_BOX" class="socialLink">
              <img src="assets/img/social media/002-facebook-1.png " alt="facebook">
            </a>
            <a href="#" class="socialLink">
              <img src=" assets/img/social media/linkedin_circle-512.png" alt="linkedIn">
            </a>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4 teamCard">
          <img class="rounded-circle img-fluid d-block mx-auto" src=" assets/img/team/mahmoud Zeyada.jpg" alt="">
          <h3>Mahmoud Zeyada
            
          </h3>
          <p  class="teamCard__jobTitle">web Devloper </p>
          <p class="teamCard__social" >
            <a href="https://www.facebook.com/mahmoud.zeyada.94?epa=SEARCH_BOX" class="socialLink">
              <img src="assets/img/social media/002-facebook-1.png " alt="facebook">
            </a>
            <a href="#" class="socialLink">
              <img src=" assets/img/social media/linkedin_circle-512.png" alt="linkedIn">
            </a>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4 teamCard">
          <img class="rounded-circle img-fluid d-block mx-auto" src=" assets/img/team/Amr Anwar.jpg" alt="">
          <h3>Amr Anwar
            
          </h3>
          <p class="teamCard__jobTitle">Backend Developer </p>
          <p class="teamCard__social" >
            <a href="https://www.facebook.com/amranwar00" class="socialLink">
              <img src="assets/img/social media/002-facebook-1.png " alt="facebook">
            </a>
            <a href="#" class="socialLink">
              <img src=" assets/img/social media/linkedin_circle-512.png" alt="linkedIn">
            </a>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4 teamCard">
          <img class="rounded-circle img-fluid d-block mx-auto" src=" assets/img/team/essam.jpg" alt="">
          <h3>Essam Mosbah
            
          </h3>
          <p class="teamCard__jobTitle">Android Developer </p>
          <p class="teamCard__social" >
            <a href="https://www.facebook.com/eeesam25" class="socialLink">
              <img src="assets/img/social media/002-facebook-1.png " alt="facebook">
            </a>
            <a href="#" class="socialLink">
              <img src=" assets/img/social media/linkedin_circle-512.png" alt="linkedIn">
            </a>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4 teamCard">
          <img class="rounded-circle img-fluid d-block mx-auto" src=" assets/img/team/kenawy.jpg" alt="">
          <h3>Ahmed Elkenawy
            
          </h3>
          <p class="teamCard__jobTitle">Frontend Developer </p>
          <p class="teamCard__social" >
            <a href="https://www.facebook.com/ahmedelkenawy95" class="socialLink">
              <img src="assets/img/social media/002-facebook-1.png " alt="facebook">
            </a>
            <a href="#" class="socialLink">
              <img src=" assets/img/social media/linkedin_circle-512.png" alt="linkedIn">
            </a>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4 teamCard">
          <img class="rounded-circle img-fluid d-block mx-auto" src=" assets/img/team/rashed.jpg" alt="">
          <h3>Ahmad Rashid ‎
            
          </h3>
          <p class="teamCard__jobTitle">Android Developer </p>
          <p class="teamCard__social" >
            <a href="https://www.facebook.com/A.Rashid97" class="socialLink">
              <img src="assets/img/social media/002-facebook-1.png " alt="facebook">
            </a>
            <a href="#" class="socialLink">
              <img src=" assets/img/social media/linkedin_circle-512.png" alt="linkedIn">
            </a>
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4 teamCard">
            <img class="rounded-circle img-fluid d-block mx-auto" src=" assets/img/team/hesham.jpg" alt="">
            <h3>
                Mohamed Hesham
              
            </h3>
            <p  class="teamCard__jobTitle">Frontend Developer </p>
            <p class="teamCard__social" >
              <a href="https://www.facebook.com/medoooooooooooooooooooooooooooooooooo" class="socialLink">
                <img src="assets/img/social media/002-facebook-1.png " alt="facebook">
              </a>
              <a href="#" class="socialLink">
                <img src=" assets/img/social media/linkedin_circle-512.png" alt="linkedIn">
              </a>
            </p>
          </div>
          <div class="col-lg-4 col-sm-6 text-center mb-4 teamCard">
              <img class="rounded-circle img-fluid d-block mx-auto" src=" assets/img/team/Muhmd Elboghdady.jpg" alt="">
              <h3>Muhmd Elboghdady
                
              </h3>
              <p  class="teamCard__jobTitle">Android Developer </p>
              <p class="teamCard__social" >
                <a href="https://www.facebook.com/mhmd.boghdady?epa=SEARCH_BOX" class="socialLink">
                  <img src="assets/img/social media/002-facebook-1.png " alt="facebook">
                </a>
                <a href="#" class="socialLink">
                  <img src=" assets/img/social media/linkedin_circle-512.png" alt="linkedIn">
                </a>
              </p>
            </div>

      </div>

    </div>
    

    

    <app-landing-footer></app-landing-footer>