@import '../variable.scss' ;

/*
//How to use 
  <button type="button" class="Cbtn c_button  c_button__join ">ButtonText</button>

*/
.Cbtn {
    &,
    &:link,
    &:visited{
        //text-transform: uppercase;
        text-decoration: none ;
        width: 15rem ; 

        padding: 1.5rem 4rem; 
        display: inline-block; 
         border-radius: 2rem;
         transition: all .2s;
         position: relative;
         font-size: 1.6rem;
         // change foe<botton elemet> 
        border: none ; 
         cursor: pointer;
   }
   &:hover{
       transform: translateY(-.3rem);
       box-shadow: (0 1rem 2rem rgba(#000000,.2));
       &::after{
        transform: scale(1.4);
        opacity: 0;
    }
    }
    &:active , 
    &:focus
    {
        outline: none ;
        transform: translateY(-.1rem);
        box-shadow: (0 .5rem 1rem rgba(#000000,.2));
    }
    &::after{
        content: ""; 
        display: inline-block;
        height: 100%;
        width : 100%;
        border-radius: 10rem;
        position: absolute ; 
        top: 0 ;
        left: 0;
        z-index: -1;
        transition: all .4s ; 
       }

     &--white{
            background-color:$color-white;
            color:$color-gery-dark;
            &::after{
                background-color:$color-white;
    
        }

    }
    &--pink{
        background-color: $primary-color;
        color:$color-white;;
        &::after{
            background-color:$primary-color; 

    }
    ::hover{
        color: $color-white;
    }
        
}

 

    &--animated{
        animation: movtoup .5s ease-out .75s ;
        animation-fill-mode: backwards ;  
        /* make the animation start in 0 time  mmmmm I don't xactly what it mean*/
    }
       

}
.btn-text{
 &:link , 
 &:visited{
     font-size: 1rem; ;
     display: inline-block ;
     text-decoration: none;
     color: $primary-color ; 
     border-bottom: 1px solid $primary-color ; 
     padding: 3px  ;
     transition: all .2s;  


 }
 &:hover{
     background-color: $primary-color;
     color:$color-white ;
     box-shadow: 0 1rem 2rem rgba(#000000,.15);
     transform: translateY(-2px);
    



 }
 &:active{
    box-shadow: 0 .5rem 2rem rgba(#000000,.15);
    transform: translateY(0);

 }

}