@import '../variable.scss';

/*
How to use 
<div class="form__group   form__firstName">
                  <input type="text" class=" form__input " 
                  name="" id="xxxx"  placeholder="  zzzz" required ngModel>
                  <label   for="xxxx" class="form__lable " > zzzzzz </label> 
                </div>
              
*/
// input 
.form{
    &__group{
    margin-bottom: 1rem;
    }   

    &__input{
        font-size:1.5rem ; 
        font-family: inherit; 
        padding:  1.5rem 2rem ; 
        background-color: #ffffff ; 

        border: 1px solid #32ffe7 ;
        border-radius: 2px ;
        //width: 40rem;
        color:#000000;
        display: block; 
        &:focus{
            outline: none ; 
            box-shadow: 0 1rem 2rem rgba(#000000, .1) ; 
            
        }
        &::-webkit-input-placeholder{
            color: #555555;

        }


    }
    &__lable{
        font-size: 1.2rem ; 
        font-weight: 700 ; 
        margin-left: 2rem ; 
        margin-top :.7rem ; 
        display: block ; 
        transition: all .3s;
    } 
    &__input:placeholder-shown + &__lable{
        opacity: 0;
        visibility: hidden;
        transform:translateY(-4rem);

    }
}