

//Html usage
/*
  <div class="secHeading">
    <span class="secHeading__icone">
      <img src="assets/img/client/package/box.png" alt="Box icone" class="secHeading__icone-img">
    </span>
    <h2 class="secHeading__text"> New package</h2>
    </div>
*/
.secHeading{
    display: flex ;
    margin: 3rem 2rem;
    &__icone{
        margin-right: 1rem ;
        &-img{
            width:4rem ; 
            height: auto;

        }
    }
    &__text{
        margin-top:.5rem;
    }
}