<div class="sideContent">

  <nav class="sidebar" >
    <ul class="side-nav">
        <li class="side-nav__item " >
            <a  class="side-nav__link" routerLink = "deliveries" routerLinkActive = "activeNav">
                <svg class="side-nav__icon">
                    <use xlink:href="assets/img/svg/allSvg.svg#icon-give"></use>
                </svg>
                <span>Deliveries</span>
            </a>

        </li>
        <nav class="sub-nav">
          <ul class="sub-nav__ul">
           <li class="sub-nav__item">
             <a href="#" class="sub-nav__link" routerLink = "newDelivery"  routerLinkActive = "Sub_activeNav">New Delivery</a>
           </li>
           <li class="sub-nav__item">
            <a  class="sub-nav__link" routerLink = "track" routerLinkActive = "Sub_activeNav">Track</a>
          </li>
          <li class="sub-nav__item">
            <a href="#" class="sub-nav__link">History</a>
          </li>
          </ul>
        </nav>

      
        <li class="side-nav__item ">
            <a  class="side-nav__link" routerLink = "**" routerLinkActive = "activeNav" >
                <svg class="side-nav__icon">
                    <use xlink:href="assets/img/svg/allSvg.svg#icon-truck"></use>
                </svg>
                <span>Orders</span>
            </a>
        </li>
        <nav class="sub-nav">
          <ul class="sub-nav__ul">
           <li class="sub-nav__item">
             <a href="#" class="sub-nav__link">Pending</a>
           </li>
           <li class="sub-nav__item">
            <a href="#" class="sub-nav__link">Accepted</a>
          </li>
          <li class="sub-nav__item">
            <a href="#" class="sub-nav__link">Finished</a>
          </li>
          </ul>
        </nav>

      </ul>
      </nav>
<footer>
  <div class="footer">
      <div class="footer__logo">
        <h1>
          Wasally
        </h1>

      </div>
    <div class="footer__downloadApp">
      <a href="#" class="footer__downloadApp-link">
         <img src="assets/img/social media/getonplaystore.png" alt="download Andorid application" class="footer__downloadApp-img">
      </a>
      </div>
    <div class="footer__social">

      <p>
        follow us on : 
      </p>
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating ">
                  <img src="assets/img/social media/facebook.jpg" class="social-img">
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating">
                  <img src="assets/img/social media/twitter.jpg" class="social-img">
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating ">
                <img src="assets/img/social media/youtube.jpg" class="social-img">
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating">
                  <img src="assets/img/social media/instagram.jpg" class="social-img">
              </a>
            </li>
          </ul>

    </div>
    
  </div>
</footer>
</div>

