<div class="sideContent">

  <nav class="sidebar" >
    <ul class="side-nav">
        <li class="side-nav__item side-nav__item--active">
            <a href="#" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="assets/img/svg/allSvg.svg#icon-give"></use>
                </svg>
                <span>Deliveries</span>
            </a>

        </li>
        <nav class="sub-nav">
          <ul class="sub-nav__ul">
           <li class="sub-nav__item">
             <a href="#" class="sub-nav__link">New Delivery</a>
           </li>
           <li class="sub-nav__item">
            <a href="#" class="sub-nav__link">Track</a>
          </li>
          <li class="sub-nav__item">
            <a href="#" class="sub-nav__link">History</a>
          </li>
          </ul>
        </nav>

      
        <li class="side-nav__item ">
            <a href="#" class="side-nav__link">
                <svg class="side-nav__icon">
                    <use xlink:href="assets/img/svg/allSvg.svg#icon-truck"></use>
                </svg>
                <span>Orders</span>
            </a>
        </li>
        <nav class="sub-nav">
          <ul class="sub-nav__ul">
           <li class="sub-nav__item">
             <a href="#" class="sub-nav__link">Pending</a>
           </li>
           <li class="sub-nav__item">
            <a href="#" class="sub-nav__link">Accepted</a>
          </li>
          <li class="sub-nav__item">
            <a href="#" class="sub-nav__link">Finished</a>
          </li>
          </ul>
        </nav>

      </ul>
      </nav>
<footer>
  this is footer
</footer>
</div>

