/* You can add global styles to this file, and also import other style files */
@import './sass/variable.scss' ; 
@import './sass/mixins.scss' ; 
@import './sass/typography' ;

@import './sass/component/form.scss';
@import './sass/component/buttons.scss';




html, body { height: 100%; }
body { margin: 0; font-family: "Poppins", "Helvetica Neue", sans-serif; }

html{
    // that define 1rem
    font-size: 62.5%;
@include respond(tab-land){  // 1rem = 9px = 56.25% width<1200
    font-size: 56.25% ; 
}
// phone will be 1rem = 8px like tab-port
@include respond(tab-port){ // 1rem = 8px = 50.25% width<900
    font-size: 50% ; 
}

@include respond(big-desktop){  // 1rem = 12px 
    font-size: 75% ; 
}}
body{box-sizing: border-box ;}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
